<p id="notice"><%= notice %></p>

<p>
  <strong>Retid:</strong>
  <%= @retention.retid %>
</p>

<p>
  <strong>Trainmodel:</strong>
  <%= @retention.trainmodel %>
</p>

<p>
  <strong>Offer1:</strong>
  <%= @retention.offer1 %>
</p>

<p>
  <strong>Offer2:</strong>
  <%= @retention.offer2 %>
</p>

<p>
  <strong>Offer3:</strong>
  <%= @retention.offer3 %>
</p>

<p>
  <strong>Range:</strong>
  <%= @retention.range %>
</p>

<p>
  <strong>Modcheck:</strong>
  <%= @retention.modcheck %>
</p>

<%= link_to 'Edit', edit_retention_path(@retention) %> |
<%= link_to 'Back', retentions_path %>
