<p id="notice"><%= notice %></p>



<br><br><p id="notice"><%= notice %></p>
<div class="container">
  
<div class="jumbotron">
  <center><h2> Upload and Explore!</h2></center>
  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  <center><p><a class="btn btn-primary btn-md" href="#" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Explore More</a> <a class="btn btn-primary btn-md" href="#" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Upload your CSV</a></p></center>
</div>
    <table class="table">
        <thead>
          <tr>
            <th>Model Id</th>
            <th>Title</th>
            <th>Status</th>
            <th>Check</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           <% @testmodels.each do |testmodel| %>
            <tr>
              <td><h4><%= testmodel.modid %><h4></td>
              <td>
                <h3 class="head"><%= link_to testmodel.modname , testmodel  %></h3>
                <ul class="post-meta">
                  <li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> Suresh</li>
                  <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong>12 - 07 - 2016</li>
                  <li><i class="glyphicon glyphicon-comment"></i><strong> Description Note</strong></li>
                </ul>
                <p><%= testmodel.moddesc %></p>
                
              </td>
              <td><h4><% if(testmodel.modcheck==true) %>Executed<% else %>New<% end %><h4></td>
              <td><h4><%= link_to 'Report View', testmodel, class: "btn btn-primary btn-md" %></h4></td>
              
            </tr>
          </tr>
    <% end %>
  </tbody>
</table>
<div class = "row">

</div>
<br>
<center>
<%= link_to '+ Upload new test file', new_testmodel_path, class: "btn btn-primary btn-md" %></center>
