<%= simple_form_for(Trainmodel.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :modid %>
    <%= f.input :moddesc %>
    <%= f.input :modname %>
    <%= f.input :trainfile %>
    <%= f.input :testfile %>
    <%= f.input :addtnl %>
    <%= f.input :modcheck %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
