<%= simple_form_for(Trainmodel.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :modid , label: "Model ID", placeholder: "Enter Model ID.." %>
    <%= f.input :modname, label: "Model Name", placeholder: "Enter Name ..." %>
    <%= f.input :moddesc, label: "Description", placeholder: "Enter description ..." %>
    <%= f.input :trainfile , label: "Upload Train dataset" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , class: "btn btn-danger btn-md"%>
  </div>
<% end %>
