  

<br><br><p id="notice"><%= notice %></p>
<div class="container">
  
<div class="jumbotron">
  <center><h2> Models in ChurnHub !</h2></center>
  <p>Traditional analytics tools tell you what your customers did in the past, but not what they will do in the future. Get spot-on predictions about your customers' next ideas.</p>
  <center><p><a class="btn btn-primary btn-md" href="/trainmodels" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Explore More</a> <a class="btn btn-primary btn-md" href="/trainmodels/new" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Model</a></p></center>
</div>
    <table class="table">
        <thead>
          <tr>
            <th>Model Id</th>
            <th>Title and Details</th>
            <th>Status</th>
            <th>Check it out!</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           <% @trainmodels.each do |trainmodel| %>
            <tr>
              <td><h4><%= trainmodel.modid %><h4></td>
              <td>
                <h3 class="head"><%= link_to trainmodel.modname , trainmodel  %></h3>
                <ul class="post-meta">
                  <li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> Senthil</li>
                  <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong>12 - 07 - 2016</li>
                  <li><i class="glyphicon glyphicon-comment"></i><strong> Description Note</strong></li>
                </ul>
                <p><%= trainmodel.moddesc %></p>
                
              </td>
              <td><h4><% if(trainmodel.modcheck==true) %>Trained<% else %>Non-Trained<% end %><h4></td>
              <td><h4><%= link_to 'View !', trainmodel, class: "btn btn-primary btn-md" %></h4></td>
              
            </tr>
          </tr>
    <% end %>
  </tbody>
</table>
<div class = "row">

</div>
<br>
<center>
<%= link_to '+ Create New Model', new_trainmodel_path, class: "btn btn-primary btn-md" %></center>

